/* main{
    display: flex;

    
    
    justify-content: center;

} */
section{
    margin-top: 5vh;
    



}

.imgforhead{
    width: 96vw;
    height: auto;
    position: relative;
    z-index: 2;
}


.content-head{
    font-size: 9vh;
    width: 96vw;
    text-align: center;
    
    


}
.imgforh{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    

}
.wrap{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
