/* main{
    display: flex;

    
    
    justify-content: center;

} */
section{
    margin-top: 5vh;
    



}
.imgforhead{
    height: auto;
    max-width: 100%;
    position: relative; 
    width: 100%; 
    z-index: 2; 
}


.content-head{
    font-size: 6vh;
    width: 96vw;
    text-align: center;
    
    


}
.imgforh{
    height: auto;
    max-width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1;

}
.wrap{
    position: relative;
    width: 100%;
    height: auto;
}