nav{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logo{
    height: 3vh;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.menuitem{
    padding:10px 10px;
    text-decoration: none;
    color:#281B28 ;
}